* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

main {
  padding: 2rem;
  text-align: center;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button img {
  vertical-align: middle;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Additional CSS to add space between buttons */
button + button {
  margin-left: 20px; /* Adjust the space between buttons */
}

@media only screen and (max-width: 600px) {
  main {
    padding: 1rem;
  }
  
  /* Styles specifically for mobile devices */
  button {
    padding: 8px 16px; /* Adjusted padding for smaller screens */
    font-size: 14px; /* Adjusted font size for smaller screens */
  }
}
